html{
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 900px;
    color: white;
    background-color: black;
}

h1 h3 h4{
    font-family: Prata;
}

h1{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

body{
    font-family: Inter;
    
}

p{
    color: #808586;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
}

li{
    list-style: none;
    display: inline;
    text-align: center;
    padding-left: 3em;
    position: relative;
    right: 2.5em;
}

#get-in-touch, #get-in-touch2{
    height: 40px;
    width: 10em;
    position: relative;
    left: 2em;
    background-color: #fbe951;
    border: none;
}

h4{
    position: relative;
    right: 3.2em;
}

.introduction{
    padding: 1em 50% 1em 0;
    text-align: justify;
}

.logos{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 50px 0;
}

img{
    width: 100%;
}

#projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 60px;
    margin: 20px auto;
}

.founders{
    width: 100%;
    background-color: #2f3039;
    margin: 0 auto;
    position: absolute;
    right: 40px;
    left: 0px;
}

#founders-word {
    padding: 3em 13em;
    display: flex;
    gap: 60px;
    position: relative;
}

#contact{
    padding: 4em 0;
    margin-top: 25em;
}

#get-in-touch2{
    height: 40px;
    width: 10em;
    position: relative;
    left: 0;
    background-color: #fbe951;
    border: none;
}

#footer{
    height: 3em;
    width: 100%;
    background-color: #2f3039;
    margin: 0 auto;
    position: absolute;
    right: 40px;
    left: 0px;
    padding-top: 1.5em;
}

.socials p{
    position: relative;
    right: 36em;
    bottom: 15px;
}

.socials{
    display: flex;
    justify-content: right;
    gap: 1em;
    position: absolute;
    right: 15em;
    top: 25px;
}